name = "FiniteElementContainers"
uuid = "d08262e4-672f-4e7f-a976-f2cea5767631"
version = "0.9.3"
authors = ["Craig M. Hamel <cmhamel32@gmail.com> and contributors"]

[deps]
Adapt = "79e6a3ab-5dfb-504d-930d-738a2a938a0e"
Atomix = "a9b6321e-bd34-4604-b9c9-b65b8de01458"
DocStringExtensions = "ffbed154-4ef7-542d-bbb7-c09d3a79fcae"
ForwardDiff = "f6369f11-7733-5829-9624-2563aa707210"
KernelAbstractions = "63c18a36-062a-441e-b654-da1e3ab1ce7c"
Krylov = "ba0b0d4f-ebba-5204-a429-3ac8c609bfb7"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
MPI = "da04e1cc-30fd-572f-bb4f-1f8673147195"
ReferenceFiniteElements = "6dc62d09-f8eb-43fd-9672-074e490a997f"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"
Tensors = "48a634ad-e948-5137-8d70-aa71f2a747f4"
TimerOutputs = "a759f4b9-e2f1-59dc-863e-4aeb61b1ea8f"

[weakdeps]
AMDGPU = "21141c5a-9bdb-4563-92ae-f87d6854732e"
BlockArrays = "8e7c35d0-a365-5155-bbbb-fb81a777f24e"
CUDA = "052768ef-5323-5732-b1bb-66c8b64840ba"
Exodus = "f57ae99e-f805-4780-bdca-96e224be1e5a"

[extensions]
FiniteElementContainersAMDGPUExt = "AMDGPU"
FiniteElementContainersBlockArraysExt = "BlockArrays"
FiniteElementContainersCUDAExt = "CUDA"
FiniteElementContainersExodusExt = "Exodus"

[compat]
AMDGPU = "2"
Adapt = "4"
Aqua = "0.8"
Atomix = "1"
BlockArrays = "1"
CUDA = "5"
DocStringExtensions = "0.9"
Exodus = "0.14"
ForwardDiff = "1"
KernelAbstractions = "0.9"
Krylov = "0.9"
LinearAlgebra = "1"
MPI = "0.20"
ReferenceFiniteElements = "0.13"
SparseArrays = "1"
StaticArrays = "1"
Tensors = "1"
Test = "1"
TestSetExtensions = "2"
TimerOutputs = "0.5"
julia = "1"

[extras]
AMDGPU = "21141c5a-9bdb-4563-92ae-f87d6854732e"
Adapt = "79e6a3ab-5dfb-504d-930d-738a2a938a0e"
Aqua = "4c88cf16-eb10-579e-8560-4a9242c79595"
CUDA = "052768ef-5323-5732-b1bb-66c8b64840ba"
Exodus = "f57ae99e-f805-4780-bdca-96e224be1e5a"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"
TestSetExtensions = "98d24dd4-01ad-11ea-1b02-c9a08f80db04"

[targets]
test = ["AMDGPU", "Aqua", "CUDA", "Exodus", "Test", "TestSetExtensions"]
